<div class="container" style="margin-top: 1vw;">
    <div class="row justify-content-center">
        <div class="col-sm-8 align-self-center text-center">
            <h2>ADMINISTRACION</h2>
            <button type="button" class="btn btn-primary" [routerLink]="['/cu/nuevo']">CREATE</button>
            <hr>
        </div>
    </div>
</div>

<div class="container" style="margin-top: 2vw;" >
    <div class="row justify-content-center">
        <div class="col-sm-6 align-self-center text-center">
            
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Herramientas</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pregunta of preguntas | paginate:{ itemsPerPage: 8, currentPage: actualPage}; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{pregunta.titulo}}</td>
                            <td>{{pregunta.descripcion}}</td>
                            <td>
                                <button class="btn btn-info mr-1" [routerLink]="['/cu',pregunta.id]"> 
                                    <i class="fa fa-pen"></i>
                                </button>

                                <button class="btn btn-danger" (click) = "borrarPregunta(pregunta)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                    </tbody>
                </table>
                <pagination-controls (pageChange)="actualPage = $event"></pagination-controls>
            
        </div>
    </div>
</div>