<div class="container" style="margin-top: 7vw;">

    <div class="row justify-content-center">
        <div class="col-sm-4 align-self-center text-center">

            <div class="card" style="width: 18rem; margin-left: 2vw;">
                <div class="card-body">
                    <h5 class="card-title">Bienvenid@ a AskNow</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Nos alegrara tenerte en nuestra comunidad</h6>
                    <button type="button" class="btn btn-outline-danger" (click)="ingresar()">Ingerese con su cuenta de google</button>

                </div>
            </div>
        </div>
    </div>
</div>